<div><p class="text-center">{{ localize "swadeMacro.damageSettingsDialog.contentText" }}</p></div>
    <div class="flex-row-wrap">
        <div class="pb-5">
            <label for="coverBonus" class="dialog-label">{{ localize "swadeMacro.damageSettingsDialog.obstacleArmor" }}</label>
            <select id="coverBonus" class="w-50">
                <option value="0">0</option>    
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="pb-5">
            <label for="ignoreArmor" class="dialog-label check">{{ localize "swadeMacro.damageSettingsDialog.ignoreTargetArmor" }}</label>
            <input id="ignoreArmor" class="check" type="checkbox" />
        </div>
        <div class="pb-5">
            <label for="damageMod" class="dialog-label">{{ localize "swadeMacro.damageSettingsDialog.damageMods" }}</label>
            <input id="damageMod" style="width: 50px;" type="number" value="0" />
        </div>
        <div class="pb-5">
            <label for="isGrettyDamage" class="dialog-label check">{{ localize "swadeMacro.damageSettingsDialog.grittyDamage" }}</label>
            {{#if isGrittyDamage}}
            <input id="isGrettyDamage" class="check" type="checkbox" checked />
            {{/if}}
            {{#if notGrittyDamage}}
            <input id="isGrettyDamage" class="check" type="checkbox" />
            {{/if}}
        </div>
        {{#if isRangeAttack}}
        <div class="pb-5">
            <label for="isShotgunTemplate" class="dialog-label check">{{ localize "swadeMacro.damageSettingsDialog.shotgunTemplate" }}</label>
            <input id="isShotgunTemplate" class="check" type="checkbox" />
        </div>
        {{/if}}
    </div>
    <div class="flex-row-wrap w-half">
        {{#if doubleTapEdge}}
        <div class="pb-5">
            <label id="doubleTapEdge" class="dialog-label check">{{ localize "swadeMacro.damageSettingsDialog.content.doubleTap" }}</label>
            <input id="doubleTapEdge" class="readonly" style="width: 50px;" type="number" value="1" readonly />
        </div>
        {{/if}}
        {{#if threeRoundBurstAbility}}
        <div class="pb-5">
            <label id="threeRoundBurstAbility" class="dialog-label check">{{ localize "swadeMacro.damageSettingsDialog.content.threeRoundBurst"  }}</label>
            <input id="threeRoundBurstAbility" class="readonly" style="width: 50px;" type="number" value="1" readonly />
        </div>
        {{/if}}
    </div>