<div class="flex-row-wrap">
    <div class="pb-5">
        <label class="dialog-label">{{ localize "swadeMacro.combatDialog.weapons"}}</label>
        <select id="selectedWeapon">
            {{#each weapons}}
            <option value="{{this.name}}">{{this.name}} | {{ localize "swadeMacro.rangeCombatDialog.content.rof"}} {{this.data.data.rof}} | {{ localize "swadeMacro.rangeCombatDialog.content.shots"}} {{this.data.data.shots}} </option>
            {{/each}}
        </select>
    </div>
    <div class="pb-5">
        <label for="rangePenality" class="dialog-label">{{ localize "swadeMacro.rangeCombatDialog.content.targetRange"}}</label>
        <select id="rangePenality">
            <option value="0">{{ localize "swadeMacro.rangeCombatDialog.content.rangeShort"}}</option>
            <option value="-2">{{ localize "swadeMacro.rangeCombatDialog.content.rangeMedium"}}</option>
            <option value="-4">{{ localize "swadeMacro.rangeCombatDialog.content.rangeLong"}}</option>
            <option value="-8">{{ localize "swadeMacro.rangeCombatDialog.content.rangeExrem"}}</option>
        </select>
    </div>
    <div class="pb-5">
        <label for="targetCover" class="dialog-label">{{ localize "swadeMacro.combatDialog.content.targetCover" }}</label>
        <select id="targetCover">
        <option value="0">{{ localize "swadeMacro.combatDialog.content.noCover" }}</option>
        <option value="-2">{{ localize "swadeMacro.combatDialog.content.coverLight" }}</option>
        <option value="-4">{{ localize "swadeMacro.combatDialog.content.coverMedium" }}</option>
        <option value="-6">{{ localize "swadeMacro.combatDialog.content.coverHeavy" }}</option>
        <option value="-8">{{ localize "swadeMacro.combatDialog.content.coverNearTotal" }}</option>
        </select>
    </div>
    <div class="pb-5">
        <label for="selectedRoF" class="dialog-label">{{ localize "swadeMacro.rangeCombatDialog.content.rateOfFire" }}</label>
        <select id="selectedRoF" class="w-50">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </select>
    </div>
    <div class="pb-5">
        <label for="isRecoil" class="dialog-label check">{{ localize "swadeMacro.rangeCombatDialog.content.recoilPenality"}}</label>
        <input id="isRecoil" class="check" type="checkbox" />
    </div>
    <div class="pb-5">
        <label for="otherMod" class="dialog-label">{{localize "swadeMacro.combatDialog.content.otherMod"}}</label>
        <input id="otherMod" class="w-50" type="number" value="0" />
    </div>
    <div class="pb-5">
        <label for="isUnstable" class="dialog-label check">{{ localize "swadeMacro.rangeCombatDialog.content.unstable"}}</label>
        <input id="isUnstable" class="check" type="checkbox" />
    </div>
    <div class="pb-5">
        <label for="doubleTap" class="dialog-label check">{{ localize "swadeMacro.rangeCombatDialog.content.doubleTap"}}</label>
        <input id="doubleTap" class="check" type="checkbox" />
    </div>
    <div class="pb-5">
        <label for="threeRoundBurst" class="dialog-label check">{{ localize "swadeMacro.rangeCombatDialog.content.threeRoundBurst"}}</label>
        <input id="threeRoundBurst" class="check" type="checkbox" />
    </div>
    <div class="pb-5">
        <label for="trackAmmo" class="dialog-label check">{{ localize "swadeMacro.rangeCombatDialog.content.trackAmmo"}}</label>
        {{#if trackAmmo}}
        <input id="trackAmmo" class="check" type="checkbox" checked />
        {{/if}}
        {{#if notTrackAmmo}}
        <input id="trackAmmo" class="check" type="checkbox" />
        {{/if}}

    </div>
</div>
{{#if isFullDisplay}}
<div class="text-center pb-5">
    <i><label>{{ localize "swadeMacro.combatDialog.content.footerNotification"}}</label></i>
</div>
{{/if}}