<div>
    <div class="chat-header-box">
        <div class="chat-header-img">
            <img src="{{weaponImg}}"></img>
        </div>
        <div class="pl-5">
            <span>{{ localize "swadeMacro.commitAttackChat.ambiancePart1"}} <b>{{targetName}}</b> {{ localize "swadeMacro.commitAttackChat.ambiancePart2"}} <b>{{weaponName}}</b></span>
        </div>
    </div>
    {{#if rangeAttack}}
    <p><i><b>{{ammoUsed}}</b> {{ localize "swadeMacro.commitAttackChat.ammoUsed"}}</i></p>
    {{/if}}
    <p><i>{{localize "swadeMacro.commitAttackChat.weaponNotes"}} {{weaponNotes}}</i></p>
    <p class="fs-16"><label class="fw-bold">{{ localize "swadeMacro.commitAttackChat.abilitities"}}</label> {{abilitites}} </p>
    {{#if bennieUsed}}
    <p class="text-center"><b>{{localize "swadeMacro.commitAttackChat.bennieUsed"}}</b></p>
    {{/if}}
    <div class="chat-content-header-box text-center flex-row-wrap">
            <div class="chat-content-header-body"><span>{{ localize "swadeMacro.commitAttackChat.dfficulty"}} </span><span>{{difficulty}}</span></div>
            <div class="chat-content-header-body" title="{{modTitle}}"><span>{{ localize "swadeMacro.commitAttackChat.mods"}}</span><span>{{modValue}}</span></div>
    </div>
    <div class="chat-content-box text-center">
        <div class="flex">
            <div class="flex-colum">
                <div class="title">
                    <label><b>{{localize "swadeMacro.commitAttackChat.roll"}}</b></label>
                </div>
                <div class="container">
                    {{#each diceResultPool}}
                    <div class="flex-auto">
                        <div class="item" style="{{this.bgColor}}" title="{{this.roll.formula}}">
                            <label class="white">{{this.roll.total}}</label>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="flex-colum">
                <div class="title">
                    <label><b>{{ localize "swadeMacro.commitAttackChat.result"}}</b></label>
                </div>
                <div class="container">
                    {{#if isCriticalFailure}}
                    <div class="flex-auto">
                        <div class="item bg-red"><label style="color : rgb(200, 0, 0);">!! {{ localize "swadeMacro.commitAttackChat.criticalFailure"}} !!</label></div>
                    </div>   
                    {{/if}}
                    {{#if isNotCriticalFailure}}
                    {{#each diceResultPool}}
                    {{# if this.saved}}
                    <div class="flex-auto">
                        <div class="item" style="background-color : {{this.display.color}}" title="{{this.roll.total}} ({{this.display.total}})">
                            <label class="white">{{this.display.display}}</label>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
{{#if isNotCriticalFailure}}
<div class="chat-button">
    <button id="reRollButton"><center>{{localize "swadeMacro.commitAttackChat.useBennie"}}</center></button>
</div>
{{/if}}
{{#if isHit}}
<div class="chat-button">
    <button id="callDamageButton"><center>{{localize "swadeMacro.commitAttackChat.applyDamage"}}</center></button>
</div>
{{/if}}