<div><p class="text-center">{{ localize "swadeMacro.damageSettingsDialog.contentText" }}</p></div>
    <div class="flex-row-wrap">
        <div class="pb-5">
            <label for="coverBonus" class="dialog-label">{{ localize "swadeMacro.damageSettingsDialog.obstacleArmor" }}</label>
            <select id="coverBonus" class="w-50">
                <option value="0">0</option>    
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
                <option value="8">8</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="pb-5">
            <label for="ignoreArmor" class="dialog-label check">{{ localize "swadeMacro.damageSettingsDialog.ignoreTargetArmor" }}</label>
            <input id="ignoreArmor" class="check" type="checkbox" />
        </div>
        <div class="pb-5">
            <label for="damageMod" class="dialog-label">{{ localize "swadeMacro.damageSettingsDialog.damageMods" }}</label>
            <input id="damageMod" style="width: 50px;" type="number" value="0" />
        </div>
        <div class="pb-5">
            <label for="isGrettyDamage" class="dialog-label check">{{ localize "swadeMacro.damageSettingsDialog.grittyDamage" }}</label>
            <input id="isGrettyDamage" class="check" type="checkbox" />
        </div>
    </div>